<div class="container-fluid mainContent">
<div class="row-fluid mainText text-center">
    <h2>Looking for textbooks?</h2>
    <h2>You've come to the right place.</h2>
</div>
    
</br>
    
<div class="row-fluid">
  <div class="col-lg-4 col-lg-offset-4 col-sm-10">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by book title, author, or ISBN...">
      <span class="input-group-btn">
        <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
</div>
    
<br/>
<br/>

<div class="container-fluid">
    <div class="row-fluid text-center">
        <div class="col-lg-4 col-xs-12 homeBottom1">
            <img class="icon1" src="img/icon1.img" alt="Icon 1">
            <p class="bottomText1">Lorem ipsum dolor sit amet, augue sed quisque magna aenean. Non dui libero aliquam vestibulum pellentesque, taciti accumsan, suspendisse scelerisque placerat aenean lacinia, wisi curabitur consectetuer laoreet rutrum velit eget, tellus cras odio donec turpis nulla dolor. Mauris sagittis quas ducimus, quisque blandit id nullam condimentum, venenatis convallis vestibulum, ante pede justo tincidunt vehicula facilisis. </p>
        </div>
        <div class="col-lg-4 col-xs-12 homeBottom2">
            <img class="icon2" src="img/icon2.img" alt="Icon 2">
            <p class="bottomText2">Lorem ipsum dolor sit amet, augue sed quisque magna aenean. Non dui libero aliquam vestibulum pellentesque, taciti accumsan, suspendisse scelerisque placerat aenean lacinia, wisi curabitur consectetuer laoreet rutrum velit eget, tellus cras odio donec turpis nulla dolor. Mauris sagittis quas ducimus, quisque blandit id nullam condimentum, venenatis convallis vestibulum, ante pede justo tincidunt vehicula facilisis. </p>
        </div>
        <div class="col-lg-4 col-xs-12 homeBottom3">
            <img class="icon3" src="img/icon3.img" alt="Icon 3">
            <p class="bottomText3">Lorem ipsum dolor sit amet, augue sed quisque magna aenean. Non dui libero aliquam vestibulum pellentesque, taciti accumsan, suspendisse scelerisque placerat aenean lacinia, wisi curabitur consectetuer laoreet rutrum velit eget, tellus cras odio donec turpis nulla dolor. Mauris sagittis quas ducimus, quisque blandit id nullam condimentum, venenatis convallis vestibulum, ante pede justo tincidunt vehicula facilisis. </p>
        </div>
    </div>
</div>